body{
  font-family: 'Raleway', sans-serif;
  line-height: 1.4;
  font-size: 14px;
}
img{
	display: inline-block;
	max-width: 100%;
}
.flex-j-sb{
	justify-content: space-between;
}
.flex-y-center{
	align-items: center;
}